@font-face {
  font-family: 'Source Sans 3';
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
  src: url(/fonts/SourceSans3-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: 'Source Sans 3 Italic';
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
  src: url(/fonts/SourceSans3-Italic-VariableFont_wght.ttf) format("truetype");
}

body {
  --backgroundColor: #eee;
  --pageHeaderHeight: 4rem;
  --sans: 'Source Sans 3';
  --sansItalic: 'Source Sans 3 Italic';

  background-color: var(--backgroundColor);
  padding: 0 2em;
  font-family: var(--sans), serif;
}

@media print {
  body {
    padding: 0;
  }

  * {
    opacity: 1 !important;
  }
}


* {
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: #3869c2;
}
